@media only screen and (max-width: 1024px) {

   .menu-container {
      width: 45%;
   }

   /*------ slider -------*/
   .slider {
      width: 100%;
      height: 10%;
      overflow: hidden;
   }

   .slider img{
      width: 100%;
      height: 100%;
   }

   /* ----- anime ------*/
   .anime-container {
      width: 100%;
      margin-top: 4rem;
      gap: 4rem 4rem;
   }

   .card-anime {
      width: 35%;
   }

   /*--------- Footer ---------*/
   .contacto h2{
      font-size: 1.8rem;
   }

   .contacto p {
      margin-top: .1rem;
      font-size: 14px;
   }

   .redes h2 {
      font-size: 1.8rem;
   }
   .redes p {
      font-size: 14px;
   }

   .redes-menu {
      margin-top: 8px;
   }

   .redes-menu li {
      list-style: none;
   }

   .redes-link {
      text-decoration: none;
      color: #03d0f5;
      font-size: 17px;
      letter-spacing: .1rem;
   }
}





@media only screen and (max-width: 880px) {

   .logo {
      display: none;
   }

   .menu-container {
      width: 85%;
   }

   .menu-link {
      font-size: 15px;
      letter-spacing: 2px;
   }

   .menu-link:hover {
      border-radius: .6rem;
      font-size: 18px;
      padding: 0.4rem;
   }

   /*------ slider -------*/
   .slider {
      width: 100%;
      height: 100%;
      overflow: hidden;
   }

   .slider img{
      width: 100%;
      height: 82vh;
   }

   /* ----- anime ------*/
   .anime-container {
      width: 100%;
      margin-top: 4rem;
      gap: 4rem 4rem;
   }

   .card-anime {
      width: 35%;
   }
   /* ------------------ */
   .container {
      width: 100%;
      margin: 0 auto;
   }

   /*------- titulos --------*/
   .title-container {
      width: 100%;
      margin-top: 4rem;
      display: flex;
      gap: 1.5rem;
   }

   .title-container h2 {
      font-size: 2rem;
      letter-spacing: .2rem;
   }

   .divider-title {
      display:  inline-block;
      width: 25%;
      height: 6px;
   }

   /*---------- Personajes ---------*/
   .person-container {
      width: 100%;
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem;
   }

   .card {
      width: 100px;
      height: 100px;
      border: solid 2px #3b3b3b;
      border-radius: 50%;
   }

   .person-1 {
      background-size: 210px;
   }
   .person-2 {
      background-size: 220px;
   }
   .person-3 {
      background-size: 210px;
   }
   .person-4 {
      background-size: 240px;
   }
   .person-5 {
      background-size: 150px;
   }
   .person-6 {
      background-size: 150px;
   }
   .person-7 {
      background-size: 200px;
   }

   @keyframes shadow-drop-center{0%{box-shadow:0 0 0 0 transparent}100%{box-shadow:0 0 30px 10px rgba(77, 3, 3, 0.747)}}

   /*---------- Manga ----------*/
   .manga-container {
      margin-top: 2rem;
      gap: 1.5rem;
   }

   .manga-container a {
      text-decoration: none;
      display: block;
      width: 40%;
   }

   /*----------- Anime ----------*/
   .anime-container {
      margin-top: 4rem;
      gap: 2rem;
   }

   .card-anime {
      width: 70%;
      padding: 8px;
   }

   .card-anime h2 {
      margin-top: 6px;
      font-size: 20px;
   }

   .card-link a {
      font-size: 16px;
      padding: 8px;
      border-radius: 1rem;
      align-self: center;
   }

   /*---------- Footer ---------*/
   footer {
      width: 100%;
      height: 190px;
      margin-top: 6rem;
      background-color: #5c0606;
      display: flex;
      justify-content: center;
   }

   .contacto {
      width: 46%;
   }

   .redes {
      width: 44%;
   }

   .contacto h2{
      font-size: 1.5rem;
      color: #afafaf;
   }

   .contacto p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
      color: #a5a5a5;
      margin-top: .2rem;
   }

   .redes h2 {
      font-size: 1.5rem;
      color: #afafaf;
   }
   .redes p {
      font-size: 10px;
      color: #c5c5c5;
   }

   .redes-menu {
      margin-top: 8px;
   }

   .redes-menu li {
      list-style: none;
      margin: 0;
   }

   .redes-link {
      text-decoration: none;
      color: #03d0f5;
      font-size: 12px;
      letter-spacing: .1rem;
   }

   /*---------------- Characters ----------------------*/
   /*-------------- header ----------*/
   .menu-link {
      font-size: 16px;
      letter-spacing: 0.1rem;
      color: #f3f3f3;
      padding: 0.6rem;
      transition: background-color .2s ease-in ;
   }

   .menu-link:hover {
      font-size: 18px;
      padding: 0.5rem;
   }
   /*--------------------------------*/
   .persons-container {
      width: 85%;
      margin: 1rem auto;
      display: flex;
      flex-direction: column-reverse;
      flex-direction: column-reverse;
   }

   h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      margin-top: 2rem;
   }

   .person-descript {
      width: 100%;
      margin-top: 1rem;
   }

   .person-descript p {
      font-family: 'Syne Mono', monospace;
      font-size: 1rem;
   }

   .persons-container img {
      width: 100%;
      margin-top: 2rem;
   }

   .rgm {
      display: none;
   }
}